.container {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--primary-color);
  padding: 50px 0;

  --row-gap: 1.6rem;
  z-index: 1;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  max-width: var(--section-max-width);
  margin: var(--x-margin);
}

.title {
  font-size: 3.5rem;
  font-weight: 500;
  color: var(--white-color);
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 0.6rem;
  row-gap: calc(var(--row-gap) + 0.9rem);
}

.card {
  --card-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  width: 100%;
  padding: 20px 2rem;
  background: linear-gradient(to right top, #ededed, #d4cffe);
  gap: 6px;
  box-sizing: border-box;
}

.icon {
  position: relative;
  bottom: var(--row-gap);
  transform: scale(3);
  z-index: 1000;
  background-color: var(--accent-color);
  border-radius: 50px;
  /* width: calc(var(--card-width) * 0.3); */
  padding: 0.4rem;
  color: var(--white-color);
}

.cardTitle {
  font-size: 1.6rem;
  font-weight: 600;
  width: 100%;
  text-align: left;
  line-height: 1;
}

.form {
  font-weight: 600;
  width: 100%;
  /* text-align: center; */
  font-size: 1.2rem;
  color: var(--accent-color);
}

.info {
  font-weight: 500;
  line-height: 1;
  color: var(--secondary-color);
  /* text-align: center; */
}

.cardPrice {
  width: 80%;
  text-align: center;
  padding-top: 5px;
  border-top: 2px solid var(--accent-color);
  font-size: 1.2rem;
  font-weight: 500;
}

.extra {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);
  height: 200px;
  width: 100%;
  border-radius: 20px;
  color: white;
  font-size: 18px;
  padding: 40px;
  box-sizing: border-box;
}

.notaryContainer {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 1;
  gap: 6px;
  font-weight: 500;
  overflow: hidden;
}

.notary {
  display: flex;
  flex: 1;
  padding: 15px;
  border-radius: 5px;
  min-width: 380px;
  padding-left: 30px;
  background-color: var(--white-color);
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  .cardContainer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .card {
    padding: 12px 14px;
    gap: 5px;
    min-height: 150px;
  }

  .cardTitle {
    font-size: 1.2rem;
  }

  .form {
    font-size: 1rem;
  }

  .info {
    font-weight: 500;
    font-size: 0.9rem;
  }

  .notaryContainer {
    flex-direction: column;
    flex-wrap: wrap;
  }
}
