.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.warning {
  display: flex;
  flex-direction: flex;
  gap: 20px;
  width: 100%;
padding: 20px;
  color: white;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  font-size: 18px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: var(--section-max-width);
  margin-bottom: 60px;
}

.img {
  height: 600px;
  padding: 8px 0;
  box-sizing: border-box;
  position: relative;
}

.info {
  display: flex;
  width: 550px;
  flex-direction: column;
  justify-self: flex-end;
  gap: 25px;
  position: relative;
  left: -80px;
}

.title {
  font-size: 80px;
  font-weight: 500;
  color: var(--primary-color);
  line-height: 1;
}

.description {
  font-size: 20px;
}

.actions {
  display: flex;
  gap: 10px;
}

.button {
  --button-heigh: 30px;
  all: unset;
  width: 100%;
  height: var(--button-heigh);
  font-size: 18px;
  padding: 10px;
  font-weight: 600;
  border-radius: var(--button-heigh);
  transition: all 0.4s ease-in-out;
  text-align: center;
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--accent-color);
}

.callus {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: transparent;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.button:hover {
  background-color: rgba(32, 11, 105, 1);
  transition: all 0.4s ease-in-out;
  color: white;
}

a {
  all: unset;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .container {
    position: relative;
    padding-top: 400px;
    width: 100%;
    min-height: 70vh;
    padding: 30px;
    margin-top: 100px;
  }

  .content {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .img {
    /* position: absolute;
    top: 30vh;
    width: 100%;
    height: 350px;
    filter: blur(1px) brightness(0.25);
    object-fit: cover; */
    display: none;
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 25px;
    left: 0;
  }

  .description {
    font-size: 18px;
  }

  .title {
    font-size: 36px;
    font-weight: 500;
  }

  .actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .button {
    font-size: 14px;
    width: 60%;
  }
}
