.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: var(--navbar-height);
  box-sizing: border-box;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: var(--section-max-width);
}

.img {
  height: 600px;
  padding: 8px 0;
  box-sizing: border-box;
  position: relative;
}

.flag {
  width: 100%;
  position: absolute;
  left: 0;
  top: var(--navbar-height);
  opacity: 0;
  /* z-index: -1; */
}

.info {
  display: flex;
  width: 550px;
  flex-direction: column;
  justify-self: flex-end;
  gap: 25px;
  position: relative;
  left: -80px;
}

.title {
  font-size: clamp(3rem, 10vw, 5rem);
  font-weight: 500;
  color: var(--primary-color);
  line-height: 1;
}

.highlight {
  color: var(--accent-color);
}

.description {
  font-size: 20px;
}

.actions {
  display: flex;
  gap: 10px;
}

.button {
  --button-heigh: 30px;
  all: unset;
  width: 100%;
  height: var(--button-heigh);
  font-size: 1.2rem;
  padding: 10px;
  font-weight: 600;
  border-radius: var(--button-heigh);
  transition: all 0.4s ease-in-out;
  text-align: center;
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--accent-color);
}

.callus {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: transparent;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.button:hover {
  background-color: rgba(32, 11, 105, 1);
  transition: all 0.4s ease-in-out;
  color: white;
}

a {
  all: unset;
  width: 100%;
}

@media only screen and (max-width: 992px) {
  .container {
    min-height: 60vh;
    padding: 30px;
  }

  .content {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .img {
    display: none;
  }

  .flag {
    opacity: 0.12;
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 25px;
    left: 0;
  }

  .description {
    font-size: 18px;
  }

  .actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .button {
    width: 60%;
  }
}
