.container {
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
  gap: min(2rem, 10%);
  font-weight: 600;
  color: var(--primary-color);
  max-width: var(--section-max-width);
  margin: var(--x-margin);
  z-index: 1;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  gap: 1.4rem;
  max-width: 500px;
  text-align: center;
  background-color: var(--white-color);
  padding: 3rem 2rem;
  border-radius: 20px;
}

.title {
  all: unset;
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 0.5rem 1rem;
  border-radius: 15px;
  font-size: 2rem;
  font-weight: 600;
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
}
