.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--primary-color);
  padding: 250px 30px;
  gap: 60px;
  color: var(--white-color);
  box-sizing: border-box;
  font-size: 18px;
}

.content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 30px;
  max-width: var(--section-max-width);
}

.column {
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: flex-start;
  gap: 15px;
}

.phrase {
  font-size: 20px;
}

.img {
  width: 150px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--gray-color);
  padding: 10px;
  border-radius: 50px;
  cursor: pointer;
}

.icon:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.copyright {
  width: 100%;
}

.li {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media only screen and (max-width: 600px) {
  .footer {
    font-size: 12px;
    padding: 40px 30px;
  }

  .content {
    flex-direction: column;
  }

  .phrase {
    font-size: 18px;
  }
}
