body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --background-color: #ffffff;
  --primary-color: #021c2b;
  --secondary-color: #777777;
  --white-color: #eeeeee;
  --accent-color: #0118D8;

  --section-max-width: 1400px;
  --section-margin-x: 0px 20px;
  --section-margin-top: 90px;
  --sections-small-margin-x: 0px 10px;
  --small-inner-padding-x: 15px;
  --small-padding: 15px;
  --large-padding: 20px;
  --small-border-radius: 10px;
  --medium-border-radius: 15px;
  --large-border-radius: 20px;
  --small-padding: 10px;
  --medium-padding: 15px;
  --small-gap: 10px;
  --medium-gap: 15px;
  --large-gap: 20px;
  --navbar-height: 70px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
